.page-header{
	border-bottom: 0px;
	margin: 0px;
}

header{
	background-color: #080808;
	color: #9d9d9d;
	padding: 10px;
	padding-left: 20px;
}

h1{
	font-weight: 400;
	font-size: 30px;
}

/*header a, a:hover{
	text-decoration: none;
	background-color: #080808;
	color: #9d9d9d;
}*/

.nav-tabs{
	border-top: 0px;
}